.banner {
    background: #F8F3F4;
}

.banner__wrp {
    padding: 60px 0;
}

.banner__title {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-color);
    text-transform: uppercase;
}

.registration {
    min-height: 600px;
    padding: 64px 0 0 0;
}

.registration__wrp {
    display: flex;
}

.registration__form {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.registration__form-title {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px 0;
}

.registration__form-area {
    border-radius: 0;
    border: 1px solid #A4A4A4;
    width: 360px;
    height: 45px;
    margin: 0 0 20px 0;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.registration__form-area:focus {
    border-radius: 0;
    outline: none;
}

.registration__form-radio {
    border-color: #A4A4A4;
    cursor: pointer;
    width: 17px;
    height: 17px;
    margin: 0 10px 0 0;
}

.registration__form label {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: 0 20px 33px 0;
}

.registration__form-text {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.registration__form-button {
    background-color: transparent;
    padding: 14px 38px;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: var(--link-color);
    border: 1px solid var(--pink-color);
    display: inline-block;
    text-transform: uppercase;
    margin: 39px 0 0 0;
    cursor: pointer;
}

.registration__form-button:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: -25px;
    background: url(../image/svg/arrow.svg) no-repeat;
    background-size: 15px 15px;
}

.registration__form-button:hover {
    background-color: var(--pink-color);
    color: var(--white-color);
}

.registration__loyalty {
    margin: 0 0 0 128px;
}

.registration__loyalty-title {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--card-color);
    text-transform: uppercase;
    margin: 0 0 22px 0;
}

.registration__loyalty-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 21px 0;
}

.registration__loyalty-item {
    position: relative;
    margin: 0 0 16px 45px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.registration__loyalty-item:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 7px;
    left: -45px;
    background: url(../image/svg/marker.svg) no-repeat;
    background-size: 18px 18px;
}