body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background: var(--black-bkg);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__box {
    display: flex;
    align-items: flex-end;
}

.header__logo {
    margin: 0 41px 0 0;
    align-items: center;
}

.header__search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__search-icon {
    fill: var(--white-color);
}

.header__search-button:hover .header__search-icon{
    fill: var(--pink-color);
}

.header__menu-list {
    display: flex;
}

.header__menu-item {
    margin: 0 25px 0 0;
}

.header__person-icon,
.header__basket-icon {
    fill: var(--white-color);
}

.header__menu-link:hover .header__person-icon {
    fill: var(--pink-color);
}

.header__menu-link:hover .header__basket-icon {
    fill: var(--pink-color);
}

/* BURGER MENU */

.header__nav-closed {
    width: 15px;
    height: 15px;
    margin: 0 0 10px 200px;
}

.nav-closed-button {
    background-color: transparent;
    border: none;
    fill: #6F6E6E;
    cursor: pointer;
}

.nav-closed-button:hover {
    fill: var(--pink-color);
}

.burger {
    position: relative;
    width: 35px;
    height: 24px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--icon-color);
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
}

.burger:hover > .burger__line,
.burger:hover::after,
.burger:hover::before {
    content: "";
    background-color: var(--pink-color);
}

.burger::after,
.burger::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--icon-color);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger--active .burger__line {
    opacity: 0;
}

.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    background-color: var(--pink-color);
}

.burger--active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
    background-color: var(--pink-color);
}

.header__nav {
    display: none;
    position: absolute;
    padding: 16px 0 0 33px;
    right: 0;
    top: 76px;
    background-color: var(--white-color);
    z-index: 1000;
    width: 232px;
    min-height: 700px;
    transition: .6s ease-in-out;
    overflow-y: auto;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.nav--visible {
    display: block;
}

.header__nav-title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}

.header__nav-item {
    margin: 24px 0 0 0;
}

.nav-item__title {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--pink-color);
}

.nav-item__list {
    margin: 12px 0 0 21px;
}

.nav-item__item {
    margin: 0 0 11px 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.nav__item-link {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
}

.nav__item-link:hover {
    color: var(--pink-color);
}

/* BRAND */

.brand {
    display: flex;
}

.brand__img {
    width: 800px;
    height: 765px;
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    padding: 0 0 0 64px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-family: 'Lato';
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 12px solid var(--pink-color);
    padding-left: 16px;
}

.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__title-pink {
    color: var(--pink-color);
}

/*sales*/

.sales {
    margin: 63px 0 0 0;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    height: 260px;
    width: 360px;
    background-color: var(--sales-bkg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.sales__item--women {
    background-image: url(../image/product-woman01.jpg);
}

.sales__item--man {
    background-image: url(../image/product-man02.jpg);
}

.sales__item--kids {
    background-image: url(../image/product-kids03.jpg);
}

.sales__item--shoes {
    width: 100%;
    height: 180px;
    background-image: url(../image/product-accesories04.jpg);
}

.sales__item-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: var(--white-color);
    text-transform: uppercase;
}

.sales__title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 24px;
    color: var(--pink-color);
    text-transform: uppercase;
    margin-top: 6px;
}

/* product item*/

.product {
    margin: 67px 0 0 0;
}

.product__title {
    margin: 6px 0 0 0;
    text-align: center;
}

.product__sub-title {
    text-align: center;
}

.product__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 48px 0 0 0;
}

.product__item {
    height: 581px;
    width: 360px;
    background-color: var(--product-bkg);
    margin: 0 0 30px 0;
    position: relative;
}

.product__title {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color:var(--product-title);
}

.product__sub-title {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--sub-title);
    margin-top: 6px;
}

.product-wrp {
    margin: 24px 28px 0 16px;
}

.product__item-title {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--card-color);
    text-transform: uppercase;
}

.product__item-description {
    margin: 12px 0 0 0;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-descript);
}

.product__item-price {
    margin: 17px 0 0 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color)
}

.product__item::before {
    content: '';
    background: rgba(58, 56, 56, 0.86);
    width: 100%;
    min-height: 420px;
    position: absolute;
    display: none;
}

.product__item-button {
    padding: 7px 15px;
    background: transparent;
    border: 1.5px solid var(--white-color);
    align-items: center;
    position: absolute;
    left: calc(50% - 74px);
    bottom: calc(62% - 23px);
    cursor: pointer;
    display: none;
}

.product__item:hover::before,
.product__item:hover > .product__item-button {
    display: flex;
}

.product__item-button:hover {
    border: 1.5px solid var(--pink-color);
    color: var(--pink-color);
}

.product__item-button:hover .product__item-icon {
    fill:var(--pink-color);
}

.product__item-button:hover .prodict__item-button-text {
    color: var(--pink-color);
}

.product__item-icon {
    margin: 0 15px 0 0;
    width: 32px;
    height: 32px;
    fill:var(--white-color);
}

.prodict__item-button-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.product__all-range {
    width: 100%; 
    text-align: center;
    margin: 19px 0 0 0;
}

.product__range-link {
    padding: 14px 38px;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: var(--link-color);
    border: 1px solid var(--pink-color);
    display: inline-block;
}

.product__range-link:hover {
    color: var(--white-color);
    background-color: var(--pink-color);
}

/* ADVANTAGES */

.advantages { 
    background-color: var(--black-bkg);
    margin: 95px 0 0 0;
    padding: 103px 0;
}

.advantage__list {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.advanages__item-image {
    height: 39px;
}

.advantages__item-title {
    margin: 28px 0 0 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 19px;
    color: #FBFBFB;
}

.advantages__item-text {
    width: 275px;
    margin: 16px 0 0 0;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 13px;
    color: #FBFBFB;
}

.subscribe {
    background: url(../image/subscribe-bkg.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 448px;
}

.subscribe__wrp {
    padding: 97px 0 126px 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe__review {
    width: 360px;
    height: auto;
    text-align: center;
}

.subscribe__img {
    margin: 0 0 26px 0;
}

.subscribe__title {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.subscribe__form {
    width: 557px;
    height: auto;
    text-align: center;
}

.subscribe__form-title {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-transform: uppercase;
}

.subscribe__form-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-transform: uppercase;
}

.subscribe__form-email {
    width: 349.5px;
    height: 49px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-bkg);
    margin: 32px auto 0 auto;
}

.subscribe__form-area {
    width: 236px;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0 0 0 25px;
    margin: 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.subscribe__form-area::placeholder {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--black-bkg);
    opacity: 0.67;
}

.subscribe__form-area:focus {
    outline: none;
}

.subscribe__form-button {
    padding: 0;
    margin: 0;
    width: 85px;
    height: calc(100% - 0.1px);
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: var(--pink-color);
    color: var(--white-color);
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.subscribe__form-button:hover {
    background: var(--white-color);
    color: var(--pink-color);
}

.social {
    background-color: var(--black-bkg);
}

.social__copyright-text {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social__wrp {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__list {
    display: flex;
}

.social__item {
    margin: 0 8px 0 0;
    background-color: var(--white-color);
}

.social__item-link {
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
}

.social__item-image {
    fill: var(--card-color);
}

.social__item:hover {
    background-color: var(--pink-color);
}

.social__item:hover .social__item-image {
    fill: var(--white-color);
}

/* registration page */

.banner {
    background: #F8F3F4;
}

.banner__wrp {
    padding: 60px 0;
}

.banner__title {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-color);
    text-transform: uppercase;
}

.registration {
    min-height: 600px;
    padding: 64px 0 0 0;
}

.registration__wrp {
    display: flex;
}

.registration__form {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.registration__form-title {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px 0;
}

.registration__form-area {
    border-radius: 0;
    border: 1px solid #A4A4A4;
    width: 360px;
    height: 45px;
    margin: 0 0 20px 0;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.registration__form-area:focus {
    outline: none;
    border: 1px solid var(--pink-color);
}

.registration__form-radio {
    cursor: pointer;
    width: 17px;
    height: 17px;
    margin: 0 10px 0 0;
}

.registration__form .radio-label {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: 0 20px 33px 0;
}

.registration__form-text {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.registration__form-button {
    background-color: transparent;
    padding: 14px 38px;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: var(--link-color);
    border: 1px solid var(--pink-color);
    display: inline-block;
    text-transform: uppercase;
    margin: 39px 0 0 0;
    cursor: pointer;
}

.registration__form-button:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: -25px;
    background: url(../image/svg/arrow.svg) no-repeat;
    background-size: 15px 15px;
}

.registration__form-button:hover {
    background-color: var(--pink-color);
    color: var(--white-color);
}

.registration__loyalty {
    margin: 0 0 0 128px;
}

.registration__loyalty-title {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--card-color);
    text-transform: uppercase;
    margin: 0 0 22px 0;
}

.registration__loyalty-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 21px 0;
}

.registration__loyalty-item {
    position: relative;
    margin: 0 0 16px 45px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.registration__loyalty-item:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 7px;
    left: -45px;
    background: url(../image/svg/marker.svg) no-repeat;
    background-size: 18px 18px;
}