.header {
    background: $black-bkg;
    &__wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
    }
    
    &__box {
        display: flex;
        align-items: flex-end;
        align-items: center;
    }
    
    &__logo {
        margin: 0 41px 0 0;
        align-items: center;
    }
    
    &__search-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    &__search-icon {
        fill: $white-color;
    }
    
    &__search-button:hover &__search-icon{
        fill: $pink-color;
    }
    
    &__menu-list {
        display: flex;
    }
    
    &__menu-item {
        margin: 0 25px 0 0;
    }
    
    &__person-icon,
    &__basket-icon {
        fill: $white-color;
    }
    
    &__menu-link:hover &__person-icon {
        fill: $pink-color;
    }
    
    &__menu-link:hover &__basket-icon {
        fill: $pink-color;
    }

    &__menu-link:active &__person-icon {
        fill: $pink-color + #222;
    }

    &__menu-link:active &__basket-icon {
        fill: $pink-color + #222;
    }
}
