.product {
    margin: 67px 0 0 0;

    &-wrp {
        margin: 24px 28px 0 16px;
    }
    
    &__title {
        margin: 6px 0 0 0;
        text-align: center;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $product-title;
    }

    &__sub-title {
        font-family: 'Lato';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $sub-title;
        margin-top: 6px; 
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 48px 0 0 0;
    }

    &__item {
        height: 581px;
        width: 360px;
        background-color: $product-bkg;
        margin: 0 0 30px 0;
        position: relative;

        &-title {
            font-family: 'Lato';
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: $card-color;
            text-transform: uppercase;
        }

        &-description {
            margin: 12px 0 0 0;
            font-family: 'Lato';
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: $color-descript;
        }

        &-price {
            margin: 17px 0 0 0;
            font-family: 'Lato';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $pink-color;
        }

        &::before {
            content: '';
            background: rgba(58, 56, 56, 0.86);
            width: 100%;
            min-height: 420px;
            position: absolute;
            display: none;
        }

        &-icon {
            margin: 0 15px 0 0;
            width: 32px;
            height: 32px;
            fill: $white-color;
            transition: .2s ease-in-out;
        }

        &-button {
            padding: 7px 15px;
            background: transparent;
            border: 1.5px solid $white-color;
            align-items: center;
            position: absolute;
            left: calc(50% - 74px);
            bottom: calc(62% - 23px);
            cursor: pointer;
            display: none;
            transition: .2s ease-in-out;

            &:hover {
                border: 1.5px solid $pink-color;
                color: $pink-color;
            }

            &:hover .product__item-icon {
                fill: $pink-color;
            }

            &:hover .product__item-button-text {
                color: $pink-color;
            }

            &:active {
                background-color: $pink-color;
            }

            &:active .product__item-button-text,
            &:active .product__item-icon {
                fill: $white-color;
                color: $white-color;
            }

            &-text {
                font-family: 'Lato';
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $white-color;
                transition: .2s ease-in-out;
            }
        }

        &:hover::before,
        &:hover > .product__item-button {
            display: flex;
        }
    }

    &__all-range {
        width: 100%; 
        text-align: center;
        margin: 19px 0 0 0;
    }

    &__range-link {
        padding: 14px 38px;
        text-decoration: none;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 16px;
        color: $link-color;
        border: 1px solid $pink-color;
        display: inline-block;
        transition: .2s ease-in-out;

        &:hover {
            color: $white-color;
            background-color: $pink-color;
        }

        &:active {
            color: $white-color ;
            background-color: $pink-color + #222;
            border: 1px solid $pink-color + #222;
        }
    }
}





