.social {
    background-color: $black-bkg;
}

.social__copyright-text {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social__wrp {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__list {
    display: flex;
}

.social__item {
    margin: 0 8px 0 0;
    background-color: $white-color;
}

.social__item-link {
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
}

.social__item-image {
    fill: $card-color;
}

.social__item:hover {
    background-color: $pink-color;
}

.social__item:hover .social__item-image {
    fill: $white-color;
}

.social__item:active {
    background-color: $pink-color + #222;
}

.social__item:active .social__item-image {
    fill: $white-color + #222;
}